.my-card {
  margin: 0.2rem;
  width:220px;
  height: 150px;
  overflow: hidden;
  flex: 1;
   box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease;
  
  
}
 .my-card-1{
    background: linear-gradient(135deg, #c4b5fd, #cfdff5); 
  }
  .my-card-2 {
    background: linear-gradient(135deg, #bbf7d0, #d1fae5); 

  }
  .my-card-3 {
    background: linear-gradient(135deg, #fda4af, #f3cfcf);
  }
  
.icon-top{
    font-size: 10px;
    display: flex;
    align-items: center;
    gap: 0.8rem;
    margin-left: 10px;
 } 

 .amount-text {
  font-size: 20px;
  font-weight: 400;
  color: black;
  margin-top: 5px;  
  margin-left: 5px;
}
.ant-card-head-title{
    margin: 0rem !important;
    font-weight: 400;

}
.my-row{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
    flex-wrap: wrap;
    width: 100%;
    min-width: 400px;
   

} 
.my-card p{
    margin: 0;
}
.my-card:hover {
    transform: scale(1.02);
    border: 1px solid rgb(87, 84, 84);
  }
  
  
