/* Header container */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
     background:  #7b97d3 ;
    color: white; 
    width: 100%;
    max-width: 97%;
    height: 20px; 
  }
  
  .logo {
    font-size: 1.4rem;
    text-align: right;
    margin: 0;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
    gap: 0.5rem; 
  }
  .user-info {
    display: flex;
    align-items: center;
    gap: 0.75rem;
  }
  
  .user-img {
    border-radius: 50%;
    height: 30px;
    width: 30px;
  }
  
  .logout-link {
    cursor: pointer;
    color: #f1c40f;
    font-weight: bold;
  }
  
  @media (max-width: 768px) {
    .navbar {
      padding: 1rem;
      flex-direction: column;
      gap: 1rem;
      align-items: flex-start;
    }
  
    .user-info {
        justify-content: flex-end;
    }
  }
  